.landing-page-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  flex-direction: row;
  padding: 25px;

  .ul {
    display: flex;
    flex-direction: column;

    .li {
      font-size: 22px;
      margin: 10px;
      background: lightgrey;
      padding: 10px;

      &.translator-1 {
        order: 3;
      }
      &.translator-2 {
        order: 3;
      }
      &.translator-3 {
        order: 3;
      }
    }
  }
}