/*
 Variables
*/

$color-white: #fff;
$color-gray-dark: #333333;
$color-gray-light: rgba(158, 158, 158, 0.15);

$space-base: 16px;
$type-base: 18px;

$section-spacing-top: 100px;

$defaultDuration: 0.3s; // Animation default duration

$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;

/*
 General
*/

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

/* Small devices (phone, up to 768px) */
@media (max-width: $screen-sm-min) {
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: $screen-md-min) {
}

/* Large devices (large desktops, 1200px and up) */
@media (max-width: $screen-lg-min) {
}

.hide {
  display: none !important;
}

.container {
  max-width: 1520px;
  margin: 0 auto;

  /* Large devices (large desktops, 1200px and up) */
  @media (max-width: $screen-lg-min) {
  }

  /*@media (max-width: 1440px) {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 40px;
  }*/

  @media (max-width: 1560px) {
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
  }

  /* Small devices (phone, up to 768px) */
  @media (max-width: $screen-sm-min) {
    width: 100%;
    padding: 0 15px;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
  }
}

* {
  outline: none;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Mote Bold 2';
}

h1 {
  font-family: 'Mote Bold 2';
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 1.2;
}

p {
  font-family: 'Mote 2';
  font-style: Normal;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.02em;
  margin-bottom: 2rem;
  line-height: 1.8;
}

i {
  font-style: Italic;
  font-weight: 400;
}

button {
  cursor: pointer;
}
.primary-btn {
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

input[type="checkbox"] {
  @media (max-width: $screen-lg-min) {
    background: white;
  }
}

/*
 Header
*/

.main-nav {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  @media (max-width: $screen-lg-min) {
    padding-bottom: 15px;
  }
  .date-wrapper {
    .DateInput {
      width: 115px;
    }

    .DateRangePickerInput {
      overflow: hidden;

      font-family: 'Mote 2';
      font-style: normal;
      font-weight: normal;
    }

    .DateInput_input {
      font-family: "Mote 2";
      font-size: 16px;
      height: 30px;
      width: 70%;

      @media (max-width: $screen-lg-min) {
        width: 70%;
        font-size: 15px;
      }
    }
    .DateInput_input__focused {
      border-bottom: 2px solid #F8EE34;
    }
    .CalendarDay__selected_span {
      border: 1px double #F8EE34;
      background: #F8EE34;
      opacity: 0.6;
      color: black;
    }
    .CalendarDay__selected {
      border: 1px double #F8EE34;
      background: #F8EE34;
      color: black;
    }
    .CalendarDay__hovered_span {
      background: lightgrey;
      border: 1px double lightgrey;
      color: white;
    }
  }

  .search-wrapper,
  .categories-wrapper,
  .cart-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .search-wrapper {
    position: relative;
    img {
      position: absolute;
      left: 25px;
      top: 15px;
    }
    .search-bar {
      width: 290px;
      height: 54px;
      padding-left: 45px;
      border-style: none;
      border: 1px solid rgba(0, 0, 0, 0.3);
      box-sizing: border-box;
      background: none;
      border-radius: 4px;
      font-size: 16px;
      line-height: 116.48%;
      display: flex;
      align-items: center;
      letter-spacing: 1px;
      color: #000000;
      opacity: 0.4;

      // mobile safari
      -webkit-appearance: none;

      @media (max-width: $screen-lg-min) {
        width: 250px;
      }

      @media (max-width: $screen-md-min) {
        width: 100%;
      }
    }
    .search-items {
      position: absolute;
      background: white;
      padding: 19px;
      box-shadow: 0px 84px 70px rgba(0, 0, 0, 0.1);
      margin-top: -4px;
      border: 1px solid #dbdbdb;
      border-top: none;
      width: 285px;
      @media (max-width: $screen-lg-min) {
        width: calc(100% - 70px);
      }
      div {
        font-size: 19px;
        margin-bottom: 10px;
        cursor: pointer;
        font-family: "Mote 2";
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }

  .top-bar {
    display: flex;
    height: 100%;
    padding: 15px 40px;

    @media (max-width: $screen-sm-min) {
      padding: 0 20px;
      -moz-box-sizing: border-box; 
      box-sizing: border-box;
    }

    .cart-wrapper {
      @media (max-width: $screen-lg-min) {
        flex-direction: column;
      }

      button {
        width: 50px;
        background: none;
        border: none;
        height: 48px; // maybe 54px
        position: relative;
        @media (max-width: $screen-lg-min) {
          padding: 0 17px;
          margin-top: -10px;
        }
      }
      img {
        width: 28px;
        position: absolute;
        left: 0px;
        bottom: 6px;
      }

      .cart-item-count {
        height: 25px;
        width: 35px;
        border-radius: 20px;
        background: #3ab224;
        text-align: center;
        position: relative;
        top: -3px;
        left: 30px;

        @media (max-width: $screen-lg-min) {
          width: 30px;
        }
        
        p {
          color: $color-white;
          font-weight: 600;
          font-size: 16px;
          line-height: 1.5;
        }

      }
    }
    .logo {
      width: 70px;
      @media (max-width: $screen-lg-min) {
        flex: 2;
      }
      button {
        background: none;
        border: none;
        @media (max-width: $screen-lg-min) {
          padding: 0 15px;
        }
      }

      img {
        width: 100%;
        @media (max-width: $screen-lg-min) {
          width: 50px;
        }
      }
    }

    .categories-wrapper {
      flex-grow: 1;
      @media (max-width: $screen-lg-min) {
        position: absolute;
        background: white;
        top: 90px;
        width: calc(100% - 30px);
        height: 100vh;

        display: none; // dev temp
      }
      .categories {
        float: right;
        @media (max-width: $screen-lg-min) {
          display: flex;
          flex-direction: column;
          width: 100%;
          align-items: center;
        }
        button {
          background: none;
          border: none;
          line-height: 54px;
          width: 110px;
          
          float: left;
          position: relative;

          font-family: 'Mote 2';
          font-weight: normal;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;

          @media (max-width: $screen-lg-min) {
            font-size: 40px;
            margin-left: -170px;
            line-height: 70px;
          }

          .active-dash {
            width: 40px;
            height: 2px;
            background: transparent;
            margin: 0 auto;
            top: 44px;
            left: 0;
            right: 0;
            position: absolute;

            transition: .2s;
          }

          &:hover {
            opacity: 0.9;
            //border-bottom: 2px solid rgba(0, 0, 0, .7);

            .active-dash {
              background: black;
              top: 48px;
              left: 0;
              right: 0;

              transition: .2s;
            }
          }
        }

        .active {
          .active-dash {
            background: black;
            top: 48px;
            left: 0;
            right: 0;

            transition: .2s;
          }
        }
      }
    }
  }
  @media (max-width: $screen-lg-min) {
    .hamburgerIcon {
      display: inline-block;
      cursor: pointer;
      padding: 17px;
    }
    .bar1,
    .bar2,
    .bar3 {
      width: 25px;
      height: 3px;
      background-color: #333;
      margin: 5px 0;
      transition: 0.3s;
    }
    .dropped .bar1 {
      -webkit-transform: rotate(-45deg) translate(-3px, 3px);
      transform: rotate(-45deg) translate(-9px, 6px);
    }

    .dropped .bar2 {
      opacity: 0;
    }

    .dropped .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
    }
  }
}

/*
 Home Hero
*/

.component-book-now {
  //display: flex;
  //align-items: center;
  position: relative;
  //padding-top: 20px;

  background: url(/src/images/v18-hero-min.2b56175231f43477f72f7c852c7da8d4.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;

  @media (max-width: $screen-md-min) {
    height: 50vh;
  }

  .image-wrapper {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);

    img {
      width: 100%;
    }

    .container {
      position: relative;
      height: 100%;

      display: flex;
      align-items: center;
    }

    .book-now-btn {
      color: $color-gray-dark;
      font-size: 20px;
      border: 1px solid white;
      background: white;
      border-radius: 4px;
      padding: 18px 28px;

      letter-spacing: 2px;
      margin-top: 30px;

      svg {
        margin-left: 15px;
        transition: .2s;
      }

      &:hover {
        cursor: pointer;

        svg {
          margin-left: 25px;
          transition: .2s;
        }
      }
      

      @media (max-width: $screen-sm-min) {
        color: $color-gray-dark;
        font-size: 18px;
        border: 1px solid white;
        background: white;
        border-radius: 4px;
        padding: 12px 18px;
      }
      
    }
  }

  .date-wrapper {
    
    h1 {
      font-size: 62px;
      line-height: 78px;
      letter-spacing: 1px;
      margin-top: 0;

      color: white;

      @media (max-width: $screen-lg-min) {
        font-size: 54px;
        line-height: 63px;
      }

      @media (max-width: $screen-md-min) {
        font-size: 34px;
        line-height: 48px;
      }
    }
  }

  .button-wrapper {
    display: flex;
    margin-top: 30px;

    p,
    button {
      width: 50%;
    }

    p {
      margin: 0;
      line-height: 1.4;
    }

    button {
      background: #474747;
      border-radius: 2px;
      border: none;

      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 116.48%;
      /* or 21px */
      text-align: center;
      letter-spacing: 2px;
      color: #ffffff;
    }
  }
}

.item-category-cta {
  button {
    font-family: 'Mote 2';
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    letter-spacing: 1px;
    @media (max-width: $screen-lg-min) {
      margin-top: 20px;
    }
  }
}

/*
 Steps component
*/

.component-how-it-works,
.component-keep-in-touch {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: rgba(64, 61, 88, 0.1);
  margin-top: $section-spacing-top;
  color: #403d58;

  border-radius: 4px;
  position: relative;

  @media (min-width: $screen-lg-min) {
    padding: 0 40px;
  }

  @media (max-width: $screen-sm-min) {
    border-radius: 0px;
  }

  h1 {
    font-size: 54px;
    line-height: 63px;
    letter-spacing: 1px;

    @media (max-width: $screen-sm-min) {
      font-size: 32px;
      line-height: 40px;
    }
  }

  button {
    background: #3ab224;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    padding: 12px 30px;
    margin-left: 20px;
    font-family: 'Mote 2';
    line-height: 1.5;
  }

  input {
    width: 290px;
    height: 54px;
    padding-left: 20px;
    border-style: none;
    background: $color-white !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    background: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 116.48%;
    letter-spacing: 1px;
    color: #000000;
    -webkit-appearance: none;
  }

  .how-it-works {
    position: absolute;
    width: 210px;
    left: 40px;
    top: 20px;
    @media (max-width: $screen-lg-min) {
      font-size: 24px;
      left: 15px;
    }
  }
  .step {
    width: 25%;
    float: left;
    padding-top: 70px;
    padding-bottom: 70px;

    @media (max-width: $screen-lg-min) {
      width: 25%;
    }
    @media (max-width: $screen-md-min) {
      width: 50%;
    }

    @media (max-width: $screen-sm-min) {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    &:first-child {
      padding-left: 0;
    }
    svg {
      margin-bottom: 20px;
      width: 80px;
      @media (max-width: $screen-lg-min) {
        width: 60px;
        height: 60px;
      }

      @media (max-width: $screen-sm-min) {
        width: 40px;
        height: 40px;
      }
    }
    img {
      width: 100%;
      height: 60px;
    }
  }

  .description-wrapper {
    padding: 80px 0;
  }

  @media (max-width: $screen-lg-min) {
    .description-wrapper {
      padding: 15px 0;
    }
  }

  h1 {
    margin: 0;
  }

  h2 {
    font-family: 'Mote Bold 2';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 38px;
    letter-spacing: 1px;

    @media (max-width: $screen-sm-min) {
      font-size: 18px;
      line-height: 0;
    }
  }

  h3 {
    font-family: 'Mote 2';
    font-style: normal;
    font-size: 24px;
    line-height: 115%;
    /* or 28px */
    letter-spacing: 1px;

    @media (max-width: $screen-lg-min) {
      font-size: 18px;
    }
  }
}

.component-how-it-works {
  @media (max-width: $screen-sm-min) {
    border-radius: 0px;
    margin-top: 0px;
  }
}

.component-keep-in-touch {
  .header-wrapper {
    width: 25%;
    padding-right: 30px;

    @media (max-width: $screen-sm-min) {
      width: 100%;
    }

    @media (max-width: $screen-sm-min) {
      padding-bottom: 0px;
    }
  }

  .description-wrapper {
    flex-grow: 1;
  }

  @media (max-width: $screen-sm-min) {
    input { width: 70%; }

    padding-bottom: 30px;
  }
}

.flexbox {
  display: flex;
}

/*
 Blog
*/
.component-blog-preview {
  display: flex;
  //padding: 0 40px;
  //height: 565px;
  margin: 90px auto;

  @media (max-width: $screen-md-min) {
    display: block;
  }

  .description-wrapper {
    width: 25%;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $screen-md-min) {
      width: 100%;
      justify-content: flex-start;
      padding-bottom: 40px;
    }
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-family: 'Mote 2';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
  }

  button {
    border: none;
    background: none;
    color: #1787e0;

    text-align: left;
    font-family: 'Mote 2';
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;

    padding: 0;
  }

  .image-wrapper {
    flex-grow: 1;

    img {
      width: 100%;
    }

    @media (max-width: $screen-md-min) {
      width: 100%;
      flex-grow: 0;
    }
  }
}

/*
 Category preview 
*/
.component-item-category-preview {
  padding-top: $section-spacing-top;
  @media (max-width: $screen-lg-min) {
    padding-top: 15px;
  }
  .items-wrapper {
    display: flex;
    @media (max-width: $screen-lg-min) {
      position: relative;
      padding: 210px 0 0;
    }

    &:last-child {
      border-right: 1px solid transparent;
    }

    .description-wrapper {
      width: 25%;
      float: left;
      display: flex;
      flex-direction: column;

      padding-right: 30px;

      @media (max-width: $screen-lg-min) {
        position: absolute;
        top: 15px;
        width: calc(100vw - 20%);
        padding: 15px;
      }

      .item-category-description {
        flex-grow: 1;
        display: flex;
      }

      h1 {
        font-family: 'Mote 2';
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 1px;
      }

      h2 {
        font-family: 'Mote 2';
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 170%;

        align-self: center;

        @media (max-width: $screen-lg-min) {
          line-height: 25px;
        }
      }
      button {
        border: none;
        background: none;
        color: #1787e0;
        padding: 0;
      }

    }

    .item {
      width: 25%;
      height: 420px;
      position: relative;
      float: left;

      border: 1px solid transparent;
      border-right: 1px solid rgba(0, 0, 0, 0.1);

      &:last-child {
        border-right: none !important;
      }

      &:hover {
        background: #ffffff;
        mix-blend-mode: normal;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 1px 70px rgba(0, 0, 0, 0.1);
      }

      img {
        height: 165px;

        display: block;
        margin: 40px auto 20px;
      }

      .item-description {
        position: absolute;
        padding: 0 30px 30px;
        bottom: 0;

        h1 {
          font-family: 'Mote 2';
          font-style: normal;
          font-weight: 500;
          font-size: 28px;
          line-height: 33px;
        }

        p {
          font-size: 18px;
          line-height: 21px;
          letter-spacing: 1px;
          color: rgba(0, 0, 0, 0.4);
          margin-bottom: 18px;

          strong {
            font-size: 30px;
            line-height: 35px;
            letter-spacing: 1px;
            color: #000000;
          }
        }
      }
    }
  }
}

/*
 Sub category
*/

.component-equipment-header {
  display: flex;
  height: 100%;

  @media (max-width: $screen-lg-min) {
    flex-direction: column;
  }

  @media (max-width: $screen-md-min) {
    align-items: center;
    p {
      text-align: center;
    }
  }

  .date-wrapper {
    height: 46px;
    border: 1px solid #000000;
    border-radius: 2px;
    padding: 0 12px;

    @media (max-width: $screen-lg-min) {
      border: 1px solid #000000;
      border-radius: 2px;
      height: 46px;
      padding: 0 12px;
    }

    input {
      height: 46px;
      border: none;
    }
  }

  .header {
    flex-grow: 1;

    h1 {
      text-transform: capitalize;
      font-size: 54px;
      line-height: 63px;
      letter-spacing: 1px;
    }

    &.breadcrumbs {
      font-family: 'Mote 2';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 1px;
      strong {
        text-transform: capitalize;
      }
    }
  }
}

.item-button {
  width: 25%;
  height: 430px;
  float: left;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: $color-white;
  border: 1px solid transparent;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  justify-content: center;

  text-align: left;

  cursor: pointer;

  transition: all 0.1s ease-in;

  /*@media (max-width: $screen-lg-min) {
    width: 50%;
    height: 170px;
  }*/

  @media (max-width: $screen-lg-min) {
    height: 360px;
  }

  @media (max-width: $screen-md-min) {
    width: 50%;
    height: 360px;
  }

  @media (max-width: $screen-sm-min) {
    height: 300px;
  }

  .image-wrapper {
    padding-bottom: 110px;
    
    @media (max-width: $screen-lg-min) {
      padding-bottom: 100px;
    }

    @media (max-width: $screen-sm-min) {
      padding-bottom: 140px;
    }
  }

  &:nth-child(4n + 4) {
    border-right: 1px solid transparent;
  }

  &:nth-last-child(-n + 5) {
    border-bottom: 1px solid transparent;
  }

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 70px rgba(0, 0, 0, 0.1);

    z-index: 2;
  }
  h1,
  p {
    padding: 0 30px;
  }
  @media (max-width: $screen-lg-min) {
    p {
      opacity: 0.7;
      font-size: 18px;
    }
  }

  img {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 210px;

    @media (max-width: $screen-lg-min) {
      max-width: 250px;
    }

    @media (max-width: $screen-md-min) {
      max-width: 220px;
    }

    @media (max-width: $screen-sm-min) {
      max-width: 170px;
    }
  }

  .description {
    width: 100%;
    position: absolute;
    bottom: 0;      
      
    h1 {
      font-family: 'Mote 2';
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 33px;
      letter-spacing: 1px;

      @media (max-width: $screen-lg-min) {
        font-size: 21px;
        line-height: 22px;
      }

      @media (max-width: $screen-md-min) {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}

.component-equipment-sub-category {
  padding-bottom: 60px;

  .category-sub-title {
    font-family: 'Mote 2';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }
}

/*
 Product Info
*/

.component-product-info {
  display: flex;
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  
  @media (max-width: $screen-lg-min) {
    padding-bottom: 40px;
  }

  .sold-out-wrapper {
    width: 350px;
    display: flex;
    justify-content: flex-end;
    .sold-out {
      background: #db092e;
      border-radius: 50px;
      width: 140px;
      height: 30px;
      font-weight: 500;
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 2px;
      color: white;
      font-family: 'Mote 2';
      text-align: center;
    }
  }
  .image-wrapper {
    width: 41.66666667%;
    float: left;

    @media (max-width: $screen-lg-min) {
      width: 50%;
      float: none;
    }

    @media (max-width: $screen-md-min) {
      width: 100%!important;
    }

    img {
      width: 100%;
    }
  }

  .item-description {
    float: right;
    width: 100%;
    flex: 2;

    @media (max-width: $screen-lg-min) {
      padding: 0 15px;
      width: calc(100% - 30px);
    }

    @media (max-width: $screen-md-min) {
      float: left !important;
      width: 100% !important;
    }

    p strong {
      text-transform: capitalize;
    }

    .date-wrapper {
      display: flex;
      flex-direction: column;
      width: 300px;
      margin: 25px 0 50px;
      @media (max-width: $screen-lg-min) {
        width: 100%;
        margin: 25px 0;
      }
      p {
        width: 46%;
        margin: 0;
        text-align: left;
      }
      div {
        display: flex;
        justify-content: space-between;
      }
      .input-wrapper {
        height: 46px;
        border: 1px solid #000000;
        border-radius: 2px;
        padding: 0 12px;
        input {
          border: none;
        }
      }
    }

    .availability-wrapper {
      padding: 32px 0;
      display: flex;
      width: 400px;
      justify-content: space-between;

      select {
        width: 100px;
        background: white;
      }

      .availability-icon {
        background: #3ab324;
        border-radius: 50px;
        width: 140px;
        height: 30px;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 2px;
        color: white;
        font-family: 'Mote 2';
        text-align: center;
      }
      .check {
        display: inline-block;
        transform: rotate(45deg);
        height: var(--height);
        width: var(--width);
        border-bottom: var(--borderWidth) solid var(--borderColor);
        border-right: var(--borderWidth) solid var(--borderColor);
        --borderWidth: 2px;
        --height: 10px;
        --width: 5px;
        --borderColor: white;
        margin-right: 11px;
      }
      p {
        margin: 0;
        line-height: 30px;
      }

      span {
        font-family: 'Mote 2';
        color: $color-white;
        letter-spacing: 2px;
        padding: 6px 14px;
        position: relative;
        top: 7px;
        margin-left: 20px;

        border-radius: 100px;
        background: #3ab224;
      }
    }

    .price-and-quantity-wrapper {
      display: flex;
      justify-content: space-between;

      @media (min-width: $screen-lg-min) {
        width: 350px;
      }

      p {
        margin: 0;
      }

      h2 {
        font-family: 'Mote 2';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 1px;
      }

      .price-wrapper {
        padding-right: 60px;

        .product-price {
          font-family: 'Mote Bold 2';
          font-style: normal;
          font-weight: bold;
          font-size: 34px;
        }

        .product-price-day-counter {
          font-family: 'Mote 2';
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          letter-spacing: 1px;
        }
      }

      .quantity-button-wrapper {
        h2 {
          margin-bottom: 20px;
        }

        .addition-button {
          background: $color-white;
          border: 1.4px solid #000000;

          &:disabled {
            opacity: 0.3;
          }
        }
      }
    }

    .add-to-cart {
      background: #3ab224;
      color: $color-white;
      border-radius: 6px;
      border: none;

      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      text-align: center;
      letter-spacing: 1px;

      padding: 16px 25px;
      width: 215px;
      height: 61px;
      font-family: 'Mote 2';
      line-height: 116.48%;
      margin-top: 55px;

      @media (max-width: $screen-lg-min) {
        width: 100%;
        margin-top: 15px;
      }
      &:hover {
        background: #37a124;
      }
      &:disabled {
        background: #ccc;
        cursor: not-allowed;
      }
    }
  }
}

.component-combine-products {
  width: 100%;
  padding: 50px 40px 40px;

  @media (max-width: $screen-lg-min) {
    padding: 40px 20px 30px;
  }
  h1 {
    font-family: 'Mote 2';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 1px;
    
    @media (max-width: $screen-lg-min) {
      margin: 0 15px;
      font-size: 28px;
      line-height: 1.6;
    }
  }
  .products-wrapper {
    h1 {
      @media (max-width: $screen-lg-min) {
        margin: 0;
      }
    }
  }
}

/*
 Footer
*/

.component-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;

  padding-top: 30px;
  padding-bottom: 30px;
  
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  footer {
    display: flex;
    width: 100%;

    @media (max-width: $screen-lg-min) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    img {
      width: 42px;
      height: 36px;
      @media (max-width: $screen-lg-min) {
        display: none;
      }
    }

    p {
      font-family: 'Mote 2';
      font-size: 14px;
      font-feature-settings: 'pnum' on, 'lnum' on;

      color: rgba(0, 0, 0, 0.7);

      margin: 0 0 0 40px;
      @media (max-width: $screen-lg-min) {
        width: 100%;
        margin: 0 0 10px;
        text-align: center;
      }
    }

    button {
      font-family: 'Mote 2';
      font-style: normal;
      font-size: 14px;

      border: none;
      background: none;

      margin-left: 20px;

      &:hover {
        opacity: 0.7;
      }

    }
    .navigation-wrapper {
      flex-grow: 1;
      text-align: right;

      @media (max-width: $screen-lg-min) {
        width: calc(100vw - 30px);
        padding: 0 15px;
        text-align: center;
      }

      @media (max-width: $screen-sm-min) {
        width: 100%;
        padding: 0;
        text-align: center;
      }
    }
  }
}

.component.image-carousel {
  min-height: 570px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: $screen-sm-min) {
    min-height: 250px;
  }
  
  .image-picker-wrapper {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
    .custom-radio-button {
      
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ button {
          background-color: rgba(0, 0, 0, 0.8);
        }
      }
      
      button {
        height: 14px;
        width: 10px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 30px;
        margin-right: 15px;
        border: none;
      }
      
      &:hover input ~ button {
        opacity: 0.6;
      }
    }
  }
}
.container.overview {
  td {
    padding: 10px 60px;
  }
}

.component-items-display {
  @media (min-width: $screen-lg-min) {
    flex: 2;
    padding: 20px 0px 40px;
  }

  @media (min-width: $screen-sm-min) {
    padding-bottom: 40px;
  }

  padding-bottom: 40px;

  .list {
    position: relative;
    .cart-item {
      display: flex;
      justify-content: space-between;

      &.delivery {
        img {
          height: 50px;
          width: auto;
        }
        .name, .price {
          line-height: 50px;
          margin: 0;
        }
        .quantity {
          text-align: center;
        }
        .price {
          width: 100px;
          text-align: center;
        }
        .placeholder {
          width: 32px;
        }
      }
      img {
        max-width: 100px;
        min-width: 100px;

        @media (max-width: $screen-lg-min) {
          max-width: 60px;
          min-width: 60px;
        }
      }

      .name {
        width: 40%;
        @media (max-width: $screen-lg-min) {
          font-size: 14px;
        }
      }

      .quantity-button {
        width: 120px;
        @media (max-width: $screen-lg-min) {
          margin-right: 10px;
          margin-top: 10px;
        }

        .addition-button {
          background: $color-white;
          border: 1.4px solid #000000;
  
          &:disabled {
            opacity: 0.3;
          }
        }
      }

      .price {
        width: 100px;
        @media (max-width: $screen-lg-min) {
          margin-top: 10px;
        }
      }

      .remove-item {
        margin-top: 10px;
        position: relative;
        width: 32px;
        height: 32px;
        opacity: 1;
        background: none;
        border: none;
        &:hover {
          opacity: 1;
        }
        &:before, &:after {
          position: absolute;
          left: 15px;
          content: ' ';
          height: 20px;
          width: 2px;
          background-color: rgba(0,0,0,0.3);
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
    &.loading {
      .v18-spinner {
        position: absolute;
        left: calc(50% - 32px);
      }
      .cart-item {
        opacity: 0.6;
      }
    }
  }
}


@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.v18-spinner {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #F8EE34 transparent transparent transparent;
    &:nth-child(1) {
      animation-delay: -0.45s;
    }
    &:nth-child(2) {
      animation-delay: -0.3s;
    }
    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}
.list-header {
  display: flex;
  justify-content: space-between;

  .item {
    flex: 3;
  }
  
  .quantity {
    width: 170px;
  }
  
  .price {
    width: 190px;
  }
}
.total-wrapper {
  display: flex;
  flex-direction: column;
  width: 325px;
  margin-top: 25px;
  .line-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p {
      margin: 0;
    }
  }
}

.cart-container {
  h3 {
    font-size: 22px;
    font-family: 'Mote 2';
    font-style: Normal;
  }

  .cart-wrapper {
    display: flex;
    @media (max-width: $screen-lg-min) {
      flex-direction: column;
    }
  }

  .empty-cart-placeholder {
    font-size: 40px;
    line-height: 120%;

    color: rgba(0, 0, 0, 0.25);

    padding: 40px 0;

    @media (max-width: $screen-md-min) {
      font-size: 26px;
      padding: 20px 0;
    }
  }
}

.component-order-information {
  border-left: 1px solid rgba(97, 92, 92, 0.1);
  
  @media (min-width: $screen-lg-min) {
    margin-left: 25px;
    padding: 20px 20px 40px;
    flex: 1;
    min-width: 490px;
  }

  @media (max-width: $screen-lg-min) {
    margin: 0;
    padding-bottom: 15px 15px 120px 15px;
    border-left: 0px solid transparent;
  }

  select {
    width: 160px;
    height: 50px;
    background: white;
    font-size: 18px;
    line-height: 116.48%;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.8);
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid rgb(238, 238, 238);;
    margin-bottom: 20px;
  }

  form {
    padding: 0 25px;
  }
  input {
    border-left: none;
    border-top: none;
    border-right: none;
    width: 100%;
    font-size: 18px;
    line-height: 116.48%;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.8);
    height: 50px;
    margin-bottom: 20px;
    // Ivan this is placeholder
    &::placeholder {
      color: rgba(0, 0, 0, 0.5);
    }
  }
  .name-wrapper {
    display: flex;
    justify-content: space-between;
    input:first-child {
      margin-right: 25px;
    }
  }

  .date-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    input {
      width: calc(25% - 20px);
      font-size: 14px;
    }
    
    select {
      width: calc(25% - 20px);
      max-width: 120px;
      height: 50px;
      border-left: none;
      border-top: none;
      border-right: none;
      border-bottom: rgb(238, 238, 238) solid 2px;
      -webkit-appearance: none;
      border-radius: 0;
      border-radius: none;
      font-size: 14px;
      line-height: 116.48%;
      letter-spacing: 1px;
      color: rgba(0, 0, 0, 0.8);
      margin-bottom: 20px;
      background: white;
    }
  }

  .delivery-wrapper, .pickup-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 18px;
  }
  .time-wrapper {
    display: flex;
    p {
      line-height: 46px;
    }
  }

  p { margin: 0; }
  
  .city-zip-wrapper {
    display: flex;
  }
  
  .checkbox-wrapper {
    display: flex;
    input {
      width: 30px;
    }
    p {
      width: 100%;
      line-height: 55px;
      @media (max-width: $screen-lg-min) {
        line-height: 25px;
        margin-top: 8px;
      }
    }
  }
  hr {
    margin: 0 -20px;
  }
  .cvv-expire-zip-wrapper {
    display: flex;
    input {
      margin-right: 25px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .place-order {
    width: 199px;
    height: 52px;
    background: #3AB224;
    border-radius: 6px;
    font-size: 22px;
    line-height: 116.48%;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    &:disabled {
      background: #ccc;
    }
  }
  .card-number {
    border-bottom: 1px solid #ccc;
    height: 30px;
    input {
      line-height: 30px;
      height: 30px;
    }
    iframe: {
      height: 30px;
    }
  }
  .card-expiry {
    width: 100px;
    border-bottom: 1px solid #ccc;
    height: 30px;
    margin-top: 20px;
  }
  .card-cvc {
    width: 50px;
    border-bottom: 1px solid #ccc;
    height: 30px;
    margin-top: 20px;
  }
}

.image-button {
  min-width: 236px;
  max-width: 50%;
  height: 64px;
  background: $color-white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0 20px;
  display: inline-flex;
  align-items: center; 
  flex-direction: row;
  position: relative;

  @media (max-width: $screen-md-min) {
    padding: 0 10px;
  }

  @media (max-width: $screen-sm-min) {
    min-width: 168px;
    max-width: 50%;
  }

  p {
    font-size: 14px;
    line-height: 116.48%;
    letter-spacing: 1px;
    margin: 0;
    text-align: left;

    @media (max-width: $screen-md-min) {
      font-size: 12px;
    }
  }
  img {
    //margin-top: 15px;
    margin-right: 15px;
    @media (max-width: $screen-lg-min) {
      margin: 0 10px 0 0;
    }

    @media (max-width: $screen-md-min) {
      width: 25px;
    }
  }
  &:before {
    position: absolute;
    right: 12px;
    top: 22px;
    content: ' ';
    width: 16px;
    height: 16px;
    background: none;
    border: 2px solid grey;
    border-radius: 2px;

    @media (max-width: $screen-md-min) {
      width: 14px;
      height: 14px;
    }
  }

  &.active {
    &:after {
      position: absolute;
      right: 15px;
      top: 25px;
      content: ' ';
      width: 14px;
      height: 14px;
      background: #3AB324;
      border-radius: 2px;

      @media (max-width: $screen-md-min) {
        width: 11.85px;
        height: 11.85px;
      }
    }
  }

  &:disabled {
    color: black;
    &:hover {
      background: white;
    }
  }

  &:hover {
    background: rgba(181, 181, 181, 0.2);
  }
}

.empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-order-complete {
  margin-bottom: 100px;
  article {
    max-width: 650px;
    margin: 0 auto;
  }
  h1 {
    font-family: "Mote 2";
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;
    color: #000000;
  }
  p {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 1px;
    max-width: 410px;
    margin: 0 0 10px 0;
  }
  hr {
    margin: 20px 0;
  }
  .row {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }
  .sub-title {
    font-family: 'Mote 2';
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    font-variant: small-caps;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
  }
  .status-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 650px;
    margin: 80px 0 0;
    .status.complete {
      width: 186px;
      height: 0px;
      opacity: 0.4;
      border: 4px solid #4CBA38;
      border-radius: 4px;
    }
  }
  .street {
    font-family: 'Mote 2';
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
  }
  .city {
    font-family: 'Mote 2';
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: rgba(0, 0, 0, 0.6);
  }
  .square {
    height: 48px;
    width: 48px;
    border-radius: 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: transparent;
    img {
      height: 20px;
      margin-top: 4px;
    }
  }
}